{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}OLSE Summer Competition{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">OLSE</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Deelnemers
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.person_list') }}">Overzicht Deelnemers</a></li>
                            {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.person_add') }}">Nieuwe Deelnemer</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Organisaties
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.organization_list') }}">Overzicht Organisatie</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.organization_add') }}">Nieuwe Organisatie</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('main.login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">

    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["warning"]) %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["info", "message"]) %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
