{% extends "layout.html" %}
{% block page_content %}
<h2>{{ org_label }}</h2>
<ul>
<li><a href="{{ url_for('main.race_add', org_id=org_id) }}">Wedstrijd toevoegen</a></li>
<li><a href="{{ url_for('main.organization_edit', org_id=org_id) }}">Organizatie aanpassen</a></li>
</ul>
<div class="row">
    <div class="col-md-6">
        <table class="table table-hover">
            <tr>
                <th>Wedstrijden</th>
<!--
                <th>Type</th>
                -->
            </tr>
            {% for row in races %}
            <tr>
                <!--
                <td><a href="{{ url_for('main.participant_add', race_id=row.race_id) }}">{{ row.race }}</a></td>
                -->
                <td><a href="{{ url_for('main.participant_add', race_id=row.race_id) }}">{{ row.race}}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
