{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<h2><a href="{{ url_for('main.race_list', org_id=org_id) }}">{{ race_label }}</a></h2>
<ul>
<li>De deelnemers moeten (voorlopig nog) toegevoegd worden in volgorde van aankomst.</li>
<li><a href="{{ url_for('main.race_edit', race_id=race_id, org_id=org_id) }}">Wedstrijd aanpassen</a></li>
{% if remove_race is equalto "Yes" %}
    <li><a href="{{ url_for('main.race_delete', race_id=race_id) }}">Wedstrijd verwijderen</a></li>
{% else %}
    <li>Wedstrijd verwijderen is enkel mogelijk als er geen deelnemers meer bij de wedstrijd horen.</li>
{% endif %}
</ul>
<div class="row">
{{ macros.race_finishers(finishers, race_id) }}
    <div class="col-md-3">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}